<!DOCTYPE html>
<html>
	<head>
		<title>Jalil Morris</title>
		<script type="text/javascript" src="jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="style.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="navbar">
			<div class="tab">
				<button target="#one" class="selected">About</button>
			</div>
			<div class="tab">
				<button target="#two" >Interests</button>
			</div>
			<div class="tab">
				<button target="#three" >Experience</button>
			</div>
		</div>
		<div id="main">
			<div id="name">
				Jalil Morris
			</div>

			<div id="one" class="info display">
				<div id="image">
					<img src="jalil_morris.jpg" height="50%" width="70%">
					
					<div id="information">
						<h3>Contact</h3>
						<p>Phone Number: (718)-288-6758</p>
						<p>Email: jalilmorris65@gmail.com</p>
					</div>
				</div>
				<div id="about">
					<h1>About Me</h1>

					<p>
						Hardware and software developer studying at
						Yale University in New Haven, CT
					</p>
					<p>
						Post-graduation, I plan on pursuing opportunites
						in research in software design in fields such as
						cybersecurity or artificial intelligence
					</p>
					<p>
						I am most interested in how hardware design
						improves data management and speed
					</p>
				</div>
			</div>
			<div id="two" class="info">
				Two
			</div>
			<div id="three" class="info">
				Three
			</div>
		</div>
	</body>
</html>