body, html {
	margin: 0;
	height: 100%;
}

body {
	background-image: radial-gradient(white, blue); 
}

#main {
	margin: 2% auto;
	background-color: white;
	width: 60%;
	height: 85%;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}